<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zpz.home">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application>
        <activity android:name=".ui.DetailAccountActivity"/>
        <activity android:name=".ui.CertificateActivity" />
        <activity android:name=".ui.ExpireCompanyActivity" />
        <activity android:name=".ui.FileListActivity" />
        <activity
            android:name=".ui.CreateProcedureActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.FirstTrialActivity" />
        <activity android:name=".ui.SettingActivity" />
    </application>

</manifest>